.card {
    background-color: #21262d;
    margin: 15vh 15%;
    min-height: auto;
    padding: 10px;
    text-align: center;
}

.header {
    color: rgba(241, 241, 241, 0.8);
    font-size: 1.1rem;
    margin-top:-7%;
    font-size: 1.5rem;
}

.footer{
    color: rgba(241, 241, 241, 0.8);
    font-style: italic;
    font-size: 1.2rem;
}

.footer a {
    color:#7371ff;
}