.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 50vh;
    max-height: fit-content;
    box-sizing: border-box;
    background-color: #21262d;
    z-index: 15;
    border-radius: 150px 150px 0 0;
    padding: 1%;
    text-align: center;
    transition: 500ms;
}

.modal>h1 {
    font-size: 3rem;
    color: rgba(241, 241, 241, 0.8);
    width: 100%;
}

.modal>p {
    font-size: 2rem;
    color: rgba(241, 241, 241, 0.8);
    width: 100%;
}

.info {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin: 1%;
    width: 100vw;
    color: rgba(241, 241, 241, 0.8)
}

.info p:nth-child(3) {
    padding-left: 3rem;
    margin-bottom: 0;
}

.info p:nth-child(even) {
    font-weight: 550;
    padding-left: 0.5rem;
}

.button {
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding: 0.8rem 0.5rem;
    width: 20%;
    font-size: 1.3rem;
    font-weight: 750;
    text-decoration: none;
    border: 2px solid #7371ff;
    border-radius: 15px;
    color: rgba(241, 241, 241, 0.8);
    background: #7371ff;
}

.button:hover,
.button:active {
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px #7371ff;
    color: rgb(241, 241, 241)
}

.button:disabled {
    cursor: not-allowed;
    background-color: #cccccc;
    color: #666666;
    border: 2px solid #666666;
}

.button:hover:disabled,
.button:active:disabled {
    box-shadow: none;
}

.credits {
    font-size: 1.1rem !important;
    font-style: italic;
    margin-top: 1rem;
    color: #8f8d8d !important;
}