.modal{

    z-index: 100;
    width: 100%;
    position: fixed;
    top: 20vh;
    left: 25%;
    transform: translate(-50%, 0);
    height: 35vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: rgba(241, 241, 241, 0.5);
    background-color: #21262d;
    margin: 0;
    border-radius: 10px;
    box-shadow: 4px 2px 8px rgba(0,0,0,0.5);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 20%;
}

.buttons>button {
    margin: 0 1.4rem;
    padding: 0.6rem;
    width: 15%;
    border-radius: 1rem;
    text-decoration: none;
    background-color: #21262d;
    border: 1px solid #7371ff;
    color: #757575;
}

.buttons>button:hover,
.buttons>button:active {
    background: #7371ff;
    color: rgba(241, 241, 241, 0.8);
    border: 1px solid #919191;
}

.buttons>button:hover {
    cursor: pointer;
}

.modal h1 {
    font-size: 2.8vw;
    margin: 0;
    width: 100%;
}

.modal p {
    font-size: 1.5vw;
    width: 100%;
}