.header__ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__ul li {
    padding: 1rem;
    font-size: 1.4rem;
}

@media(max-width:28rem) {
    .header__ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .header__ul li {
        padding: 2rem;
        font-size: 7vw;
        padding-left: 0;
    }
}

.header__ul a {
    text-decoration: none;
    padding: 2px;
    color: #757575;
}

.header__ul a:hover,
.header__ul a:active {
    box-sizing: border-box;
    color: #7371ff;
}

.active {
    border-bottom: 2px solid #7371ff;
    color: rgba(115, 113, 255, 0.8) !important;
}

.header__ul button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.header__ul button {
    text-decoration: none;
    padding: 7px 12px;
    color: #7371ff;
    border: 2px solid #7371ff;
    border-radius: 15px;
}

.header__ul button:hover,
.header__ul button:active {
    box-sizing: border-box;
    background: #7371ff;
    color: #ffffff;
    border: 2px solid #919191;
}

img[alt="cart"]:hover {
    cursor: pointer;
}