.form{
    height: 100%;
    width: 100%;
}

.form_element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_element button {
    margin: 2vh 1.5rem;
    padding: 0.6rem;
    width: 10%;
    border-radius: 1rem;
}

.form_element button:hover {
    cursor: pointer;
}