.card {
    background-color: #21262d;
    margin: 15vh 15vw 0 15vw;
    height: 70vh;
    padding: 10px;
    text-align: center;
}

.form_element button {
    margin: 1.4rem;
    padding: 0.5rem;
    width: 8vw;
    border-radius: 1rem;
}

.form_element button:hover {
    cursor: pointer;
}