.card {
    background-color: #21262d;
    margin: 15vh 15vw 0 15vw;
    min-height: 60vh;
    max-height: auto;
    padding: 10px;
    text-align: center;
}

.form_element button {
    margin-top: 2.5rem;
    padding: 1rem 0rem;
    width: 8vw;
    border-radius: 1rem;
}

.form_element button:hover {
    cursor: pointer;
}