.card {
    background-color: #21262d;
    margin: 15vh 15vw 0 15vw;
    min-height: 60vh;
    max-height: auto;
    padding: 10px;
    text-align: center;
}

.newCard {
    margin: 19vh 15vw 0 19vw;
}