.checkoutBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 8vh 0;
}

.checkoutBtn button {
    padding: 0.8rem 1rem;
    border-radius: 20px;
    background-color: transparent;
    color: rgba(115, 113, 255,0.9);
    border: 1px solid rgba(115, 113, 255,0.9);
    font-weight: 500;
    font-size: 1rem;
}

.checkoutBtn button:hover{
    cursor: pointer;
    color: #7371ff;
    border: 1px solid #7371ff;
    box-shadow: 0px 0px 5px 2px #7371ff;
}