.card {
    background-color: #21262d;
    box-sizing: border-box;
    min-width: 20vw;
    max-width: 25vw;
    margin: 1rem;
    min-height: 20vh;
    max-height: auto;
    box-shadow: 3px 3px 20px 0px rgb(49, 48, 48);
    transition: 500ms;
    padding: 1rem 1rem 0 1rem;
    border-radius: 30px;
}

.card:hover {
    transition: 300ms;
    box-shadow: 0px 0px 10px 5px #7371ff;
    transition: 500ms;
}

.card:hover .buttons {
    border-top: 1px solid #7371ff;
    transition: 500ms;
}

.card:hover .couponItem__code>h1 {
    color: #7371ff;
    transition: 500ms;
}

.card:hover .couponItem__info p,
.card:hover .couponItem__info h4 {
    color: rgba(241, 241, 241, 0.8);
    transition: 500ms;
}

.card:hover .buttons>button,
.card:hover .buttons>a {
    color: #7371ff;
    transition: 200ms;
}

.couponItem__code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    color: #8d8b8b;
}

.couponItem__code>h1 {
    color: #8d8b8b;
}

.couponItem__code>h3 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #757575;
    color: rgba(241, 241, 241, 0.5);
    border-radius: 30px;
}

.card:hover .couponItem__code>h3 {
    border: 1px solid #7371ff;
}

.couponItem__code>h3:hover {
    border: 1px solid #7371ff;
}

.couponItem__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.couponItem__info>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media(max-width:81rem) {
    .couponItem__info {
        flex-direction: column;
        justify-content: space-around;
    }
}

.couponItem__info p {
    position: relative;
    padding-right: 2%;
    color: #8d8d8d
}

.couponItem__info h4 {
    color: #757575
}

/* remove default styles*/
.buttons>button {
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1.5px solid #757575;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    margin: 0 -1rem 0 -1rem;
    height: auto;
}

.buttons>button,
.buttons>a {
    text-decoration: none;
    padding: 7px 12px;
    border: 2px solid #7371ff;
    border-radius: 15px;
    color: #757575;
}

.card:hover .buttons>button:hover,
.card:hover .buttons>button:active,
.card:hover .buttons>a:hover,
.card:hover .buttons>a:active {
    background: #7371ff;
    color: rgba(241, 241, 241, 0.8);
    border: 1px solid #919191;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}