input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.formLabel {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formLabel>div {
    margin: 1vh;
}